.sidebar {
  transform: translateX(-20vw);
  background: #202020;
  width: 20vw;
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 50%);
  @media (max-width: 800px) {
    width: 80vw;
    transform: translateX(-80vw);
    z-index: 1;
  }
  height: 100vh;
  position: absolute;
  &-open {
    transform: translateX(0vw);
  }

  transition: transform 200ms ease-in;
}

.main-content {
  position: absolute;
  top: 12%;
  transform: translateX(0vw);

  &-sidebar-open {
    transform: translateX(20vw);
    @media (max-width: 800px) {
      transform: translateX(0vw);
    }
  }
  transition: transform 200ms ease-in;
  padding: 0 1rem;
}
