.sidebar {
  transform: translateX(-30vw);
  background: #000;
  width: 30vw;
  height: 100vh;
  position: absolute;
  &-open {
    transform: translateX(0vw);
  }

  transition: transform 100ms ease-in;
}

.main-content {
  position: absolute;
  top: 12%;
  transform: translateX(0vw);
  &-sidebar-open {
    transform: translateX(30vw);
  }
  transition: transform 100ms ease-in;
  padding: 0 1rem;

}
